<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>WasteWiser</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>citizenRegister</display-name>
    <servlet-name>citizenRegister</servlet-name>
    <servlet-class>com.waste.citizenRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>citizenRegister</servlet-name>
    <url-pattern>/citizenRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>agentRegister</display-name>
    <servlet-name>agentRegister</servlet-name>
    <servlet-class>com.waste.agentRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>agentRegister</servlet-name>
    <url-pattern>/agentRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addAgents</display-name>
    <servlet-name>addAgents</servlet-name>
    <servlet-class>com.waste.addAgents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAgents</servlet-name>
    <url-pattern>/addAgents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>submitPickupRequest</display-name>
    <servlet-name>submitPickupRequest</servlet-name>
    <servlet-class>com.waste.submitPickupRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submitPickupRequest</servlet-name>
    <url-pattern>/submitPickupRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignPickup</display-name>
    <servlet-name>AssignPickup</servlet-name>
    <servlet-class>com.waste.AssignPickup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignPickup</servlet-name>
    <url-pattern>/AssignPickup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>agentLogin</display-name>
    <servlet-name>agentLogin</servlet-name>
    <servlet-class>com.waste.agentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>agentLogin</servlet-name>
    <url-pattern>/agentLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatePickupStatus</display-name>
    <servlet-name>updatePickupStatus</servlet-name>
    <servlet-class>com.waste.updatePickupStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePickupStatus</servlet-name>
    <url-pattern>/updatePickupStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>citizenChangePassword</display-name>
    <servlet-name>citizenChangePassword</servlet-name>
    <servlet-class>com.waste.citizenChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>citizenChangePassword</servlet-name>
    <url-pattern>/citizenChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>agentChangePassword</display-name>
    <servlet-name>agentChangePassword</servlet-name>
    <servlet-class>com.waste.agentChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>agentChangePassword</servlet-name>
    <url-pattern>/agentChangePassword</url-pattern>
  </servlet-mapping>
</web-app>